<%= form_with(model: path, local: true) do |form| %>
<%= show_errors(path) %>
<table>
<tbody>
<tr><th><%= form.label :item_type %></th>
  <td><%= form.text_field :item_type, id: :path_item_type %></td></tr>
<tr><th><%= form.label :item_id %></th>
  <td><%= form.text_field :item_id, id: :path_item_id %></td></tr>
<tr><th><%= form.label :sitepath %></th>
  <td><%= form.text_field :sitepath, id: :path_sitepath %></td></tr>
<tr><th><%= form.label :redirect %></th>
  <td><%= form.text_field :redirect, id: :path_redirect %></td></tr>
</tbody>
<tfoot><tr><th></th><td><%= form.submit 'Save Path' %></td></tr></tfoot>
</table>
<% end %>
