<%
path ||= nil

content_for(:menus) do -%>
<li id="pathsmenu"><%=
  link_to 'Paths', paths_path, title: 'Path setup — define urls for items or redirects'
  %><ul>
  <li><%= link_to 'Paths List', paths_path, title: 'List all paths' %></li>
  <li><%= link_to 'Add Path', new_path_path, title: 'Add a new path' %></li>
  <li class="separator"></li>
<%
  if path -%>
  <%=
    tag.li(link_to(
      'Edit Current Path', edit_path_path(path),
      title: "Edit the current path (#{path.descriptor})"
    )) %>
  <%=
    tag.li(link_to(
      'Remove Current Path', delete_path_path(path),
      title: "Remove the current path (#{path.descriptor})"
    )) %>
<%
  else -%>
  <li class="unavailable" title="no current path selected">Edit Current Path</li>
  <li class="unavailable" title="no current path selected">Remove Current Path</li>
<%
  end
-%>
  </ul></li>
<%
end

# Load up the Wayfinder
if path
  actions = {
    update: edit_path_path(path),
    delete: delete_path_path(path),
    create: new_path_path
  }
else
  actions = { create: new_path_path }
end
wayfinder(section: :path, item: path, actions: actions)
-%>
