<%= render partial: 'header', locals: { path: @path } -%>
<h1>Delete Path: <%= link_to @path.descriptor, @path %>?</h1>

<%= form_tag(@path, method: :delete) do %>
<p><%= submit_tag 'Delete Path' %></p>
<% end %>
