<%= render partial: 'header' -%>
<table>
<thead><tr><th>Sitepath</th> <th>Item</th> <th>Redirect</th> <th>Actions</th></tr></thead>
<tbody>
<% @paths.each do |path| -%>
<tr>
<td><%= link_to path.sitepath, path %></td>
<%=
  item = path.item
  if item
    tag.td(link_to item.descriptor, item, class: "icon #{css_classerize(item)}")
  else
    tag.td('—', class: 'false')
  end %>
<%=
  redirect = path.redirect
  if redirect
    tag.td redirect
  else
    tag.td('—', class: 'false')
  end %>
<td><%= link_to 'Edit', edit_path_path(path), class: 'icon update' %>
  <%= link_to(
    'Destroy', path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon destroy'
  ) %></td>
</tr>
<% end -%>
</tbody>
</table>
