<%= render partial: 'header', locals: { path: @path } -%>
<table><tbody>
<tr><th>Sitepath:</th> <td><code><%= @path.sitepath %></code></td></tr>
<%
item = @path.item
if item
  %><tr><th>Item:</th> <td><%= link_to item.descriptor, item %></td></tr>
<%
end
redirect = @path.redirect
if redirect
  %><tr><th>Redirect:</th> <td><code><%= redirect %></code></td></tr>
<%
end
%>
</tbody></table>
