<%
# Requires:
# - user (the user being edited)
# - path (e.g., users_path)
is_new = user.new_record?
-%>
<%= form_with(url: path, model: user, local: true) do |form| %>
<%= show_errors(user) -%>
<table>
<tbody>
<tr><th><%= form.label :name, 'Name' %></th>
  <td><%= form.text_field :name, id: 'user_name' %></td></tr>
<% if is_new -%>
<tr><th><%= form.label :email %></th>
  <td><%= form.email_field :email, id: 'user_email' %></td></tr>
<tr><th><%= form.label :password %></th>
  <td><%= form.password_field :password, id: 'user_password', autocomplete: 'off' %></td></tr>
<tr><th><%= form.label :password_confirmation %></th>
  <td><%= form.password_field :password_confirmation, id: 'user_password_confirmation', autocomplete: 'off' %></td></tr>
<% else -%>
<tr><th>Email</th>
  <td><span title="Cannot change email"><%= user.email %></span></td></tr>
<% end -%>
</tbody>
<tfoot>
<tr><th></th>
  <td><%= form.submit 'Save User' %></td></tr>
</tfoot>
</table>
<% end %>
