<%
user ||= nil

content_for(:menus) do -%>
<li id="usersadminmenu"><%= link_to 'Users', users_path, title: 'Users administration; manage user access' %><ul>
  <li><%= link_to 'User List', users_path, title: 'List all users' %></li>
  <li><%= link_to 'Add User', new_user_path, title: 'Add a new user' %></li>
  <li class="separator"></li>
<%
  if user -%>
  <%=
    tag.li(link_to(
      'Edit Current User', edit_user_path(user),
      title: "Edit the current user (#{user.descriptor})"
    )) %>
  <%=
    tag.li(link_to(
      'Delete Current User', delete_user_path(user),
      title: "Delete the current user (#{user.descriptor})"
    )) %>
<%  if user.access_locked? -%>
  <%=
    tag.li(link_to(
      'Unlock Current User', unlock_user_path(user),
      title: "Unlock the current user (#{user.descriptor})"
    )) %>
<%  else -%>
  <li class="unavailable" title="User is already unlocked">Unlock Current User</li>
<%
    end
  else -%>
  <li class="unavailable" title="no current user selected">Edit Current User</li>
  <li class="unavailable" title="no current user selected">Delete Current User</li>
  <li class="unavailable" title="no current user selected">Unlock Current User</li>
<%
  end
-%>
  </ul></li>
<%
end

# associated = []
# if user && !user.removed?.present?
#   # Load up the Wayfinder
#   actions = {}
#   actions[:unlock] = unlock_user_path(user) if user.access_locked?
#   actions[:update] = edit_user_path(user)
#   actions[:delete] = delete_user_path(user)
#   actions[:create] = new_user_path
# else
#   actions = { create: new_user_path }
# end
# wayfinder(section: :user, associated: associated, item: user, actions: actions)
-%>
