<%
user = @user
-%>
<%= render partial: 'header', locals: { user: user } -%>
<h2>Remove User <%= link_to user.descriptor, user_path(user) %></h2>
<p>
This will remove all access and permissions for the user, rendering the account unusable.
<br />But all records of the user’s actions in the system will remain intact.
</p>
<%= form_tag user_path(user), method: :delete do %>
<div class="actions">
<%= submit_tag "Delete User" %>
</div>
<% end %>
