<%
user = @user
-%>
<%= render partial: 'header', locals: { user: user } -%>
<h2>Editing User <%= link_to user.descriptor, user_path(user) %></h2>

<%= render 'form', user: user, path: user_path(user) %>
