<%
# TODO: make sortable by clicking on column headers (javascript)
# TODO: checkboxes to show/hide suspended, active, admins
-%>
<%= render partial: 'header' -%>
<table>
<thead>
<tr>
<th></th>
<th>User</th>
<th>Name</th>
<th>Email</th>
<th>Confirmed</th>
<th>Signins</th>
<th>Last Signin</th>
<th>Locked?</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<%
@users.each do |user|
  locked = user.access_locked?
  %><%=
  tag.tr(id: "user_#{user.id}") do %>
<%
  flags = []
  flags << 'locked' if locked
  %><td><%
  # TODO: use lock icon for locked flag; link to action to unlock user
  flags.each do |flag|
    %><%= flag %>: <%
  end
  %></td><%
  %><%= tag.td(class: flags.join(' ')) do %><%
    %><%= link_to user.descriptor, user_path(user) %><%
  end %>
<td class="name"><%= user.name %></td>
<td class="email"><%= user.email %></td>
<%=
  confirmed_at = user.confirmed_at
  if confirmed_at
    tag.td(confirmed_at, class: 'true datetime')
  else
    tag.td('—', class: 'false')
  end
  %>
<td class="numeric"><%= user.sign_in_count %></td>
<td class="datetime"><%= user.last_sign_in_at %></td>
<%=
    if locked
      tag.td(user.locked_at, class: 'icon lock datetime')
    else
      tag.td('', class: 'icon unlock')
    end
  %>
<td>
  <%
    if locked
      %><%= link_to 'Unlock', unlock_user_path(user) %>
  <%
    end
    %><%= link_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Remove', delete_user_path(user) %>
</td>
<%
  end %><%
end
%>
</tbody>
</table>
