<%
user = @user
is_locked = user.access_locked?
-%>
<%= render partial: 'header', locals: { user: user } -%>

<p>
<span class="name"><%= user.name %></span>
<br /><span class="icon email"><%= user.email %></span>
</p>

<% if is_locked -%>
<h2>Locked</h2>
<p>
<%= user.failed_attempts %> failed signin attempts.
<br />Locked at <span class="datetime"><%= user.locked_at %>.</span>
</p>
<p>
<%= link_to 'Unlock', unlock_user_path(user), class: 'icon unlock' %>
</p>
<% end -%>

<h2>Signins</h2>
<p>
Signed in <%= user.sign_in_count %> times.
<% if user.sign_in_count > 0 -%>
<br />Current: <span class="datetime"><%= user.current_sign_in_at %></span>
from <span class="ipaddress"><%= user.current_sign_in_ip %></span>
<br />Last: <span class="datetime"><%= user.last_sign_in_at %></span>
from <span class="ipaddress"><%= user.last_sign_in_ip %></span>
<% end -%>
</p>

<%=
render(
  partial: 'authorities/table',
  locals: { authorities: user.authorities, include_new: { user_id: user.id }, exclude_user: true }
)
%>
