<%
user = @user
-%>
<%= render partial: 'header', locals: { user: user } -%>
<h2>Unlock User <%= link_to user.descriptor, user_path(user) %></h2>
<p>
This will restore signin access for the user, rendering the account usable again.
</p>
<%= form_tag unlock_user_path(user), method: :patch do %>
<div class="actions">
<%= submit_tag "Unlock #{user.descriptor}" %>
</div>
<% end %>
