<%= form_with(model: page, local: true) do |form| %>
<%= show_errors(page) %>
<table>
<tbody>
<tr><th><%= form.label :parent_id %></th>
  <td><%= form.text_field :parent_id, id: :page_parent_id %><%
  parent = page&.parent
  if parent
    %> <%= link_to parent.descriptor, parent, class: "icon #{css_classerize(parent)}" %><%
  end %></td></tr>
<tr><th><%= form.label :filename %></th>
  <td><%= form.text_field :filename, id: :page_filename %>
  <br /><strong>Warning:</strong> Changing the filename when updating the page
  can break links to the page.</td></tr>
<tr><th><%= form.label :title %></th>
  <td><%= form.text_field :title, id: :page_title %>
  <br />The Title appears in the title-bar of the web browser.</td></tr>
<tr><th><%= form.label :description %></th>
  <td><%= form.text_area :description, rows: 4, id: :page_description %></td></tr>
<tr><th><%= form.label :content %></th>
  <td><%= form.text_area :content, rows: 16, id: :page_content %></td></tr>
</tbody>
<tfoot><tr><th></th><td><%= form.submit 'Save Page' %></td></tr></tfoot>
</table>
<% end -%>
