<%
page ||= nil
parent ||= page&.parent

content_for(:menus) do -%>
<li id="pagesmenu"><%=
  link_to 'Pages', pages_path, title: 'Page Management — create static web pages'
  %><ul>
  <li><%= link_to 'Pages List', pages_path, title: 'List all pages' %></li>
  <li><%= link_to 'Add Page', new_page_path, title: 'Add a new page' %></li>
  <li class="separator"></li>
<%
  if page -%>
  <%=
    tag.li(link_to(
      'Edit Current Page', edit_page_path(page),
      title: "Edit the current page (#{page.descriptor})"
    )) %>
  <%=
    tag.li(link_to(
      'Remove Current Page', delete_page_path(page),
      title: "Remove the current page (#{page.descriptor})"
    )) %>
<%
  else -%>
  <li class="unavailable" title="no current page selected">Edit Current Page</li>
  <li class="unavailable" title="no current page selected">Remove Current Page</li>
<%
  end
-%>
  </ul></li>
<%
end

# Load up the Wayfinder
associated = nil
if page
  actions = {
    update: edit_page_path(page),
    delete: delete_page_path(page),
    create: new_page_path
  }
  associated = [parent] if parent
else
  actions = { create: new_page_path }
end
wayfinder(section: :page, item: page, associated: associated, actions: actions)
-%>
