<%= render partial: 'header', locals: { page: @page } -%>
<h1>Delete Page: <%= link_to @page.descriptor, @page %>?</h1>

<%= form_tag(@page, method: :delete) do %>
<p><%= submit_tag 'Delete Page' %></p>
<% end %>
