<%= render partial: 'header' -%>
<table>
<thead><tr><th>Sitepath</th> <th>Title</th> <th>Actions</th></tr></thead>
<tbody>
<% @pages.each do |page| -%>
<tr>
<td><%= link_to page.sitepath, page %></td>
<td><%= page.title %></td>
<td><%= link_to 'Edit', edit_page_path(page), class: 'icon update' %>
  <%= link_to(
    'Delete', page, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon destroy'
  ) %></td>
</tr>
<% end -%>
</tbody>
</table>
