<%= render partial: 'header', locals: { page: @page } -%>
<table><tbody>
<tr><th>Title:</th> <td><%= @page.title %></td></tr>
<%
if @parent
  %><tr><th>Parent:</th> <td><%= link_to @parent.descriptor, @parent %></td></tr>
<%
end
-%>
<tr><th>Filename:</th> <td><code><%= @page.filename %></code></td></tr>
<tr><th>Description:</th> <td><%= @page.description %></td></tr>
<tr><th>Content:</th> <td><%= @page.content %></td></tr>
</tbody></table>
