<%
# This is displayed when there are no User records in the system.
#
# It provides a form for creating an initial User (with system admin access).
-%>
<%
user = @user || User.new
-%>
<h1>New Installation</h1>

<p>
Before anything else, you are required to create an administrative user.
</p>
<p>
This user will have full access to administering the configuration of this system.
</p>
<p>
<b>Important:</b> Everything you setup here can be changed later.
<br />You will be able to add additional administrative users once this installation is complete.
</p>

<%= form_with(url: create_initial_records_path, model: user, local: true) do |form| %>
<% if user.errors.any? -%>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, 'error') %> prevented the installation from being completed:</h2>
  <ul>
  <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end -%>
<table>
<thead>
<tr><th colspan="2">Setup a User Account With Full System Administrative Access</th></tr>
</thead>
<tbody>
<tr><th><%= form.label :name %></th>
  <td><%= form.text_field :name, id: 'user_name' %></td></tr>
<tr><th><%= form.label :email %></th>
  <td><%= form.email_field :email, id: 'user_email' %></td></tr>
<tr><th><%= form.label :password %></th>
  <td><%= form.password_field :password, id: 'user_password', autocomplete: 'off' %></td></tr>
<tr><th><%= form.label :password_confirmation %></th>
  <td><%=
    form.password_field(
      :password_confirmation, id: 'user_password_confirmation', autocomplete: 'off'
    )
  %></td></tr>
</tbody>
<tfoot>
<tr><th></th>
  <td><%= form.submit 'Setup Installation' %></td></tr>
</tfoot>
</table>
<% end %>
