<%
require 'wayground_form_builder'

heading ||= nil

%><%= form_with(model: role, local: true, builder: WaygroundFormBuilder) do |form| %>
<%= show_errors(role) %>
<table><%
if heading
  %><thead><tr><th colspan="2"><%= heading %></th></tr></thead>
<%
end
%><tbody>
<%
# FIXME: Interface for dynamically adding/removing area fields in the Role form
# FIXME: highlight checked permissions in green and bold in the Role form
-%>
<tr><th><%= form.label :name %></th>
  <td><%= form.text_field :name, id: :role_name, class: 'full' %></td></tr>
<tr><th><%= form.label :description %></th>
  <td><%= form.text_area :description, id: :role_description, cols: 40 %></td></tr>
<tr><th><%= form.label :areas, for: 'role_areas_0' %></th>
  <td><%= form.array_field :areas %></td></tr>
<tr><th><%= form.label :filename %></th>
  <td><%= form.text_field :filename, id: :role_filename, class: 'full' %></td></tr>
<tr><th rowspan="9">Permissions</th>
  <td><%= form.check_box :can_read, id: :role_can_read %>
    <%= form.label :can_read, class: 'icon read' %></td></tr>
<tr><td><%= form.check_box :can_create, id: :role_can_create %>
    <%= form.label :can_create, class: 'icon create' %></td></tr>
<tr><td><%= form.check_box :can_update, id: :role_can_update %>
    <%= form.label :can_update, class: 'icon update' %></td></tr>
<tr><td><%= form.check_box :can_destroy, id: :role_can_destroy %>
    <%= form.label :can_destroy, class: 'icon destroy' %></td></tr>
<tr><td><%= form.check_box :can_upload, id: :role_can_upload %>
    <%= form.label :can_upload, class: 'icon upload' %></td></tr>
<tr><td><%= form.check_box :can_comment, id: :role_can_comment %>
    <%= form.label :can_comment, class: 'icon comment' %></td></tr>
</tbody>
<tfoot><tr><th></th><td class="actions"><%= form.submit('Save Role') %></td></tr></tfoot>
</table>
<% end %>
