<%
role ||= nil

content_for(:menus) do -%>
<li id="rolesmenu"><%=
  link_to 'Roles', roles_path, title: 'Role configuration — define access restrictions'
  %><ul>
  <li><%= link_to 'Roles List', roles_path, title: 'List all roles' %></li>
  <li><%= link_to 'Add Role', new_role_path, title: 'Add a new role' %></li>
  <li class="separator"></li>
<%
  if role -%>
  <%=
    tag.li(link_to(
      'Edit Current Role', edit_role_path(role),
      title: "Edit the current role (#{role.descriptor})"
    )) %>
  <%=
    tag.li(link_to(
      'Remove Current Role', delete_role_path(role),
      title: "Remove the current role (#{role.descriptor})"
    )) %>
<%
  else -%>
  <li class="unavailable" title="no current role selected">Edit Current Role</li>
  <li class="unavailable" title="no current role selected">Remove Current Role</li>
<%
  end
-%>
  </ul></li>
<%
end

# Load up the Wayfinder
if role
  actions = {
    update: edit_role_path(role),
    delete: delete_role_path(role),
    create: new_role_path
  }
else
  actions = { create: new_role_path }
end
wayfinder(section: :role, item: role, actions: actions)
-%>
