<%
# requires role
# optional hide_text (boolean)
hide_text ||= false

def permission(is_true)
  is_true ? 'Can' : 'Can Not'
end
if hide_text
  def full_text(is_true, text)
    tag.span("#{permission(is_true)} #{text}", class: 'no-icon' )
  end
else
  def full_text(is_true, text)
    tag.span("#{permission(is_true)} ", class: 'no-icon' ) + text
  end
end

def permission_table_cell(is_true, label, text)
  truth = is_true ? 'true' : 'false'
  tag.td(
    full_text(is_true, text),
    class: "icon #{label} #{truth}", title: "#{permission(is_true)} #{text}"
  )
end

-%>
<%= permission_table_cell(role.can_read, 'read', 'Read') %>
<%= permission_table_cell(role.can_create, 'create', 'Create') %>
<%= permission_table_cell(role.can_update, 'update', 'Update') %>
<%= permission_table_cell(role.can_destroy, 'destroy', 'Destroy') %>
<%= permission_table_cell(role.can_upload, 'upload', 'Upload') %>
<%= permission_table_cell(role.can_comment, 'comment', 'Comment') %>
