<%= render partial: 'header', locals: { role: @role } -%>
<h1>Delete Role: <%= link_to @role.descriptor, @role %>?</h1>

<%= form_tag(@role, method: :delete) do %>
<p><%= submit_tag 'Delete Role' %></p>
<% end %>
