<%= render partial: 'header' -%>
<table>
<thead>
<tr>
<th>Name</th>
<th>Areas</th>
<th>Filename</th>
<th>Read</th>
<th>Create</th>
<th>Update</th>
<th>Destroy</th>
<th>Upload</th>
<th>Comment</th>
</tr>
</thead>

<tbody>
<%
def permission_table_cell(is_true, label, text, name)
  truth = is_true ? 'true' : 'false'
  permission = is_true ? 'Can ' : 'Can Not '
  tag.td(
    tag.span(permission, class: 'no-icon' ),
    class: "icon #{label} #{truth}",
    title: "#{name.pluralize} #{permission}#{text}"
  )
end
-%>
<% @roles.each do |role|
  name = role.name -%>
<tr>
  <th><%= link_to role.name, role %></th>
  <td><%= role.areas.join(', ') %></td>
  <td><%= role.filename %></td>
  <%= permission_table_cell(role.can_read, 'read', 'Read', name) %>
  <%= permission_table_cell(role.can_create, 'create', 'Create', name) %>
  <%= permission_table_cell(role.can_update, 'update', 'Update', name) %>
  <%= permission_table_cell(role.can_destroy, 'destroy', 'Destroy', name) %>
  <%= permission_table_cell(role.can_upload, 'upload', 'Upload', name) %>
  <%= permission_table_cell(role.can_comment, 'comment', 'Comment', name) %>
</tr>
<% end %>
</tbody>
</table>
