<%= render partial: 'header', locals: { role: @role } -%>
<h1><%= @role.name %></h1>

<%=
description = @role.description
tag.p(description) if description
%>
<p>This role has access to areas:</p>
<ul>
<% @role.areas.each do |area|
  %><%= tag.li(area) %>
<% end -%>
</ul>

<p>(Filename: “<code><%= @role.filename %></code>”)</p>

<table>
<thead><tr><th colspan="9"><h2>Permissions</h2></th></tr></thead>
<tbody>
<tr>
<%= render partial: 'permission_cells', locals: { role: @role } -%>
</tr>
</tbody>
</table>

<%=
render partial: 'authorities/table', locals: { authorities: @role.authorities, exclude_role: true }
%>
