<%
require 'wayground_form_builder'

heading ||= nil

%><%= form_with(model: authority, local: true, builder: WaygroundFormBuilder) do |form| %>
<%= show_errors(authority) %>
<table><%
if heading
  %><thead><tr><th colspan="2"><%= heading %></th></tr></thead>
<%
end
%><tbody>
<%
# TODO: pickers/lookup for Users, Roles
-%>
<tr><th><%= form.label :user_id %></th>
  <td><%= form.text_field :user_id, id: 'authority_user_id' %></td></tr>
<tr><th><%= form.label :role_id %></th>
  <td><%=
  form.select(:role_id, nil, {}, id: 'authority_role_id') do %>
  <%= content_tag(:option) %>
  <%  Role.order(:name).each do |role|
      attributes = { value: role.id, title: role.description }
      attributes[:selected] = 'selected' if role.id == authority.role_id
      %><%= content_tag(:option, role.name, attributes) %>
  <%  end
  end %></td></tr>
<tr><th><%= form.label :active_at %></th>
  <td><%= form.datetime_field :active_at, id: 'authority_active_at' %></td></tr>
<tr><th><%= form.label :ends_at %></th>
  <td><%= form.datetime_field :ends_at, id: 'authority_ends_at' %></td></tr>
<tr><th><%= form.label :suspends_at %></th>
  <td><%= form.datetime_field :suspends_at, id: 'authority_suspends_at' %></td></tr>
<tr><th><%= form.label :unsuspends_at %></th>
  <td><%= form.datetime_field :unsuspends_at, id: 'authority_unsuspends_at' %></td></tr>
</tbody>
<tfoot><tr><th></th><td class="actions"><%= form.submit('Save Authority') %></td></tr></tfoot>
</table>
<% end %>
