<%
authority ||= nil

content_for(:menus) do -%>
<li id="authoritiesmenu"><%=
  link_to(
    'Authorities', authorities_path,
    title: 'Authority configuration — managing who can access what in MICA'
  )
  %><ul>
  <li><%= link_to 'Authorities List', authorities_path, title: 'List all authorities' %></li>
  <li><%= link_to 'Add Authority', new_authority_path, title: 'Add a new authority' %></li>
  <li class="separator"></li>
<%
  if authority -%>
  <%=
    tag.li(link_to(
      'Edit Current Authority', edit_authority_path(authority),
      title: "Edit the current authority (#{authority.descriptor})"
    )) %>
  <%=
    tag.li(link_to(
      'Remove Current Authority', delete_authority_path(authority),
      title: "Remove the current authority (#{authority.descriptor})"
    )) %>
<%
  else -%>
  <li class="unavailable" title="no current authority selected">Edit Current Authority</li>
  <li class="unavailable" title="no current authority selected">Remove Current Authority</li>
<%
  end
-%>
  </ul></li>
<%
end

# Load up the Wayfinder
if authority
  actions = {
    update: edit_authority_path(authority),
    delete: delete_authority_path(authority),
    create: new_authority_path
  }
  associated = []
  user = authority.user
  if user
    associated << { section: :user, descriptor: user.descriptor, link: user_path(user) }
  end
  associated << authority.role if authority.role
else
  actions = { create: new_authority_path }
  associated = nil
end
wayfinder(section: :authority, associated: associated, item: authority, actions: actions)
-%>
