<%
# requires: authorities
# optional: include_new, exclude_user, exclude_role
# include_new - if not false, should be a hash of params to pass to new (e.g., user_id: user.id)
include_new ||= false
exclude_user ||= false
exclude_role ||= false

authorities_count = authorities.count
if authorities_count > 0
  column_count = 13
  column_count -= 1 if exclude_user
  column_count -= 10 if exclude_role
  %>
<table>
<thead>
<tr><%=
  tag.th(
    tag.h2(
      "#{authorities_count} #{authorities_count > 1 ? 'Authorities' : 'Authority'}",
      class: 'icon authority'
    ),
    colspan: column_count
  ) %></tr>
<tr><th>ID</th><%
  unless exclude_user
    %> <th class="icon user">User</th><%
  end
  unless exclude_role
    %> <th class="icon role">Role</th><%
  end
  unless exclude_role
    %> <%= render partial: 'roles/permission_cell_head' %><%
  end
  %></tr>
</thead>
<tbody>
<%
  authorities.each do |authority|
    user = authority.user
    role = authority.role
    %><tr><td><%= link_to authority.id, authority %></td><%
    unless exclude_user %>
  <td><%= user.descriptor %></td><%
    end
    unless exclude_role %>
  <td><%= link_to role.descriptor, role %></td><%
    end
    unless exclude_role
      %> <%= render partial: 'roles/permission_cells', locals: { role: role, hide_text: true } %><%
    end
    %></tr>
<%
  end -%>
</tbody>
<%
if include_new
  %><tfoot><tr><%=
  tag.td(
    link_to('New Authority', new_authority_path(include_new), class: 'icon create'),
    colspan: column_count
  )
  %></tr></tfoot>
<%
end
-%>
</table>
<%
end
-%>
