<%= render partial: 'header', locals: { authority: @authority } -%>
<h2>Delete Authority: <%= link_to @authority.descriptor, @authority %>?</h2>

<%= form_tag(@authority, method: :delete) do %>
<p><%= submit_tag 'Delete Authority' %></p>
<% end %>
