<%= render partial: 'header', locals: { authority: @authority } -%>
<%=
render(
  'form', {
    authority: @authority,
    heading: tag.h1('Editing authority: '.html_safe + link_to(@authority.descriptor, @authority))
  }
)
%>
