<%= render partial: 'header' -%>
<p>Found <%= @authorities.size %> authorities.</p>
<table>
<thead><tr>
<th>ID</th>
<th class="icon user">User</th>
<th class="icon role">Role</th>
<th>Active?</th>
<th>Actions</th>
</tr></thead>
<tbody><%
@authorities&.each do |authority|
  user = authority.user
  role = authority.role
  %>
<%=
  tag.tr(id: "authority-#{authority.id}") do -%>
<th><%= link_to authority.id, authority %></th>
<td><%= link_to user.descriptor, user_path(user) %></td>
<td><%= link_to role.descriptor, role %></td>
<%
  if authority.active?
    %><%= tag.td('Active', class: 'true', title: 'The authority is currently active.') %><%
  elsif authority.suspended?
    %><%= tag.td('Suspended', class: 'false', title: 'The authority is currently suspended.') %><%
  else
    %><%= tag.td('Inactive', class: 'false', title: 'The authority is not currently active.') %><%
  end
  %>
<td><%= link_to 'Edit', edit_authority_path(authority), class: 'icon update' %></td>
<%
  end
end %>
</tbody>
</table>
