<%
user = @authority.user
role = @authority.role
active = @authority.active?
-%>
<%= render partial: 'header', locals: { authority: @authority } -%>
<h2><%= link_to user.descriptor, user, class: 'icon user' %>
<%= active ? 'is' : 'was' %> a
<%= link_to role.descriptor, role, class: 'icon role' %></h2>

<%
active_at = @authority.active_at
ends_at = @authority.ends_at
suspends_at = @authority.suspends_at
unsuspends_at = @authority.unsuspends_at
-%>
<table>
<thead><tr><th colspan="2"><h3>Dates</h3></th></tr></thead>
<tbody>
<tr><th>Active At:</th> <td class="datetime"><%= active_at %></td></tr>
<% 
if ends_at
  %><tr><th>Ends At:</th> <td class="datetime"><%= ends_at %></td></tr>
<%
end
if suspends_at
  %><tr><th>Suspends At:</th> <td class="datetime"><%= suspends_at %></td></tr>
<%
end
if unsuspends_at
  %><tr><th>Unsuspends At:</th> <td class="datetime"><%= unsuspends_at %></td></tr>
<%
end
-%>
</tbody>
</table>
