@import "shared";
body{
  margin: 0; padding: 0;
  background: white; color: black;
  font-family: 'Lucida Grande', helvetica, sans-serif;
  font-size: $root-font-size;
}
body > *{
  padding-left: 2em; padding-right: 2em;
  z-index: 1;
}

a {
  &:link { color: #008; }
  &:visited { color: #507; }
  &:hover { color: #00B; }
  &:active { color: #B00; }
  &.on-dark {
    &:link, &:visited { color: #CCF; }
    &:hover { color: #EEF; }
    &:active { color: #F99; }
  }
}
