#flash{
  p{
    margin:1em 2em;
    padding:1em;
    box-shadow:2px 2px 3px rgba(0,0,0,0.4);
  }
  .alert{
    background:rgba(191,0,0,0.1);
  }
  .notice{
    background:rgba(0,0,127,0.1);
  }
  .warning{
    background:rgba(191,191,0,0.15);
  }
}
