footer {
  position: relative;
  margin: 2em 0 0;
  padding: 2em;
  border-top: thin solid rgba(0,0,0,0.1);
  background: rgba(191,191,191,0.2); color: #333;
  font-size: 80%;
/*   outline: 1px dashed red; */
  > * {
    max-width: 40em;
    position: relative;
    right: 0;
    margin: 0 0 0 auto;
    + * {
      margin-top: 0.5em;
    }
  }
  > ul {
    list-style-type: none;
    padding: 0;
    > li {
      display: inline;
      > a{
      }
    }
  }
  a {
    white-space: nowrap;
  }
}