@import "variables";
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  &:before {
    display: inline-block; padding: 0 0.2em; width: 1.25em;
    font-family: FontAwesome; font-size: 1.25em; font-weight: normal;
    vertical-align: middle; text-align: center;
    text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  }
  .no-icon{
    display: none;
  }
}
.actions .icon:before {
  padding: 0 0.5em 0 0; width: auto;
}

// ACTIONS
.icon.admin:before { content: $fa-var-server; }
.icon.create:before { content: $fa-var-plus-square-o; }
.icon.read:before { content: $fa-var-folder-open-o; }
.icon.update:before { content: $fa-var-edit; }
.icon.destroy:before { content: $fa-var-trash-o; }
.icon.upload:before { content: $fa-var-upload; }
.icon.download:before { content: $fa-var-download; }
.icon.rollback:before { content: $fa-var-undo; }
.icon.audit:before { content: $fa-var-eye; }
.icon.approve:before { content: $fa-var-check-square-o; }
.icon.report:before { content: $fa-var-line-chart; }
.icon.comment:before { content: $fa-var-comment-o; }
.icon.lock:before { content: $fa-var-lock; }
.icon.unlock:before { content: $fa-var-unlock-alt; }
.icon.search:before { content: $fa-var-search; }

// MENUS - AREAS - ITEMS
.icon.authority:before { content: $fa-var-gavel; }
.icon.business:before { content: $fa-var-building; }
.icon.calendar:before { content: $fa-var-calendar; }
.icon.company:before { content: $fa-var-building-o; }
.icon.contacts:before { content: $fa-var-address-book; }
.icon.event:before { content: $fa-var-calendar-o; }
.icon.help:before { content: $fa-var-question-circle; }
.icon.menu:before { content: $fa-var-bars; }
.icon.page:before { content: $fa-var-file-code-o; }
.icon.path:before { content: $fa-var-link; } // anchor bookmark bookmark-o compass location-arrow road
.icon.person:before { content: $fa-var-user-o; }
.icon.role:before { content: $fa-var-wrench; }
.icon.setting:before { content: $fa-var-cog; }
.icon.settings:before { content: $fa-var-cogs; }
.icon.tasks:before { content: $fa-var-tasks; }
.icon.user:before { content: $fa-var-user-circle-o; }

// FILES
.icon.csv:before { content: $fa-var-file-o; }
.icon.pdf:before { content: $fa-var-file-pdf-o; }
.icon.podcast:before { content: $fa-var-podcast; }
.icon.vcard:before { content: $fa-var-address-card-o; }

// LINKS
.icon.weblink:before { content: $fa-var-globe; }
.icon.creative-commons:before { content: $fa-var-creative-commons; }
.icon.facebook:before { content: $fa-var-facebook-square; } // facebook facebook-official
.icon.flickr:before { content: $fa-var-flickr; }
.icon.github:before { content: $fa-var-github; }
.icon.gitlab:before { content: $fa-var-gitlab; }
.icon.google-plus:before { content: $fa-var-google-plus-official; } // google-plus google-plus-square
.icon.instagram:before { content: $fa-var-instagram; }
.icon.linkedin:before { content: $fa-var-linkedin-square; } // linkedin
.icon.medium:before { content: $fa-var-medium; }
.icon.meetup:before { content: $fa-var-meetup; }
.icon.pinterest:before { content: $fa-var-pinterest; } // pinterest-p pinterest-square
.icon.quora:before { content: $fa-var-quora; }
.icon.reddit:before { content: $fa-var-reddit; }
.icon.slack:before { content: $fa-var-slack; }
.icon.snapchat:before { content: $fa-var-snapchat; } // snapchat-ghost snapchat-square
.icon.trello:before { content: $fa-var-trello; }
.icon.tumblr:before { content: $fa-var-tumblr-square; } // tumblr
.icon.twitter:before { content: $fa-var-twitter; } // twitter-square
.icon.video:before { content: $fa-var-film; }
.icon.vimeo:before { content: $fa-var-vimeo-square; } // vimeo
.icon.wikipedia:before { content: $fa-var-wikipedia-w; }
.icon.youtube:before { content: $fa-var-youtube; }

// ATTRIBUTES
.icon.accessibility:before { content: $fa-var-universal-access; }
.icon.address:before { content: $fa-var-map-marker; } // map map-o map-pin location-arrow
.icon.email:before { content: $fa-var-envelope-o; } // envelope envelope-open envelope-open-o envelope-square
.icon.encryption:before { content: $fa-var-key; }
.icon.note:before { content: $fa-var-sticky-note-o; } // sticky-note
.icon.phone:before { content: $fa-var-phone; } // phone-square
.icon.verified:before { content: $fa-var-certificate; }
.icon.version:before { content: $fa-var-history; }
.icon.warning:before { content: $fa-var-exclamation-triangle; }
.icon.wheelchair:before { content: $fa-var-wheelchair-alt; } // wheelchair
