@import "shared";
/*
Expect there to be just one nav element on a page.
It serves as the menubar.
*/
$menubar-height-short: 2em;
$menubar-text-color-faded: rgba(255,255,255,0.7);//#CCC;
nav {
  position: fixed; top: 0;
  margin: 0; padding: 0;
  height: $menubar-height; width: 100%;
  background: #222; color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  box-shadow: 0px 0em 0.5em rgba(0,0,0,0.5);
  z-index: 100;
  & + * {
    margin-top: $menubar-height + 1em;
  }
  a {
    &, &:link, &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover {
      background: #008; color: white;
      &:active {
        background: #00D; color: white;
      }
    }
  }
  li a {
    display: inline-block;
    padding: 0em 1em;
    line-height: $menubar-height;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0; padding: 0;
  }
  // an individual Menu
  & > ul > li {
    float: left;
    // hovering over a menu
    &:hover {
      background-color: rgba(255,255,255,0.1);
      & > ul {
        display: block;
      }
    }
    // menu title
    & > a {
      // icons for menus/menu-items don’t need any padding
      &.icon:before {
        padding: 0; width: auto;
      }
      // hovering over a clickable menu (the menu title is a link)
      &:hover {
        background-color: transparent;
      }
    }
    // menu items
    > ul {
      display: none; position: absolute;
      min-width: 10em;
      background: #444;
      box-shadow: 0px 0em 0.5em rgba(0,0,0,0.5);
      z-index: 3;
      // men item
      > li {
        padding: 0;
        line-height: $menubar-height;
      }
      // menu item, clickable or not
      a, li.heading, li.unimplemented, li.unavailable {
        display: block;
        padding: 0 1em;
        text-align: left;
      }
      // heading for a group of items within a menu
      li.heading {
        color: $menubar-text-color-faded;
        line-height: $menubar-height-short;
      }
      // menu item that is not clickable
      li.unimplemented, li.unavailable {
        color: $menubar-text-color-faded;
        font-weight: normal;
      }
      li.unimplemented {
        font-style: italic;
        &:before{
          content: "(";
        }
        &:after{
          content: ")";
        }
      }
    }
    // The User menu is on the right side of the menubar
    &#usermenu {
      float: right;
      > ul {
        right: 0;
      }
    }
  }
  // separator lines between groups of items in a menu
  .separator {
    margin: 0.5em 0em;
    border-bottom: thin solid #999;
  }
  // icons for menus/menu-items don’t need extra padding on the left
  .icon:before {
    padding-left: 0;
  }
}
.signedin nav {
  background:linear-gradient(#444, #000);
}
