@import "shared";
// GENERAL TABLE
table {
  border-collapse: collapse; border-spacing: 0em;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  th, td {
    padding: 0.25em 0.5em;
    vertical-align: top;
    border: thin solid rgba(0,0,0,0.15);
    > table {
      width: 100%;
    }
  }
  + table {
    margin-top: 1.5em;
  }
}

// TRUE-FALSE TABLE
table {
  td.false, td.true{
    text-align: center;
  }
  td.false{
    color: rgba(0,0,0,0.33);
    text-decoration: rgba(255,0,0,0.5) solid line-through;
  }
  td.true{
    font-weight: bold;
    background: rgba(0,255,0,0.03);
    color: #070;
  }
}

// TABLES IN FORMS
form > table {
  > thead {
    background: #777; color: white;
    text-shadow: -1px -1px 1px black;
    a:link, a:visited {
      color: #DDF;
      text-decoration: none;
    }
    a:hover {
      color: #EEF;
    }
    a:active {
      color: #F99;
    }
  }
  > tbody {
    > tr {
      &:nth-child(even) {
        background:rgba(0,0,0,0.05); color:black;
      }
      > th:first-child { text-align:right; }
      > td {
        .full { // specify an input that should try to extend most of the full width of the cell
          width: 97%;
        }
      }
    }
  }
  > tfoot {
    background: #CCC; color: black;
  }
}

input[type=text], input[type=submit], option, select, textarea {
  font-family: 'Lucida Grande', helvetica, sans-serif;
  font-size: $root-font-size;
}
input[type=submit] {
  font-weight: bold;
  font-size: 1.1em;
}
