@import "shared";
$wayfinder-height: 2.8em;
$wayfinder-border: thin solid rgba(192,192,192,0.9);
#wayfinder {
  // place it immediately below the menubar
  position: fixed; top: $menubar-height;
  margin: 0; padding: 0em 1em 0em;
  height: $wayfinder-height; width: 100%;
  background: rgba(200,200,200,0.9);
  border-bottom: $wayfinder-border;
  line-height: $wayfinder-height;
  vertical-align: bottom;
  z-index: 90;
  > * { display: inline; }
  h1 {
    font-size: $root-font-size;
  }
  ul {
    list-style-type: none;
    > li {
      display: inline;
    }
  }
  .class {
  }
  .item {
    border-radius: 0.5em 0.5em 0 0;
    background: rgba(255,255,255,0.3);
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5) 85%, rgba(255,255,255,1));
    padding: 0.25em 0.75em 0.65em 0.75em;
    font-weight: bold;
    border: thin solid rgba(0,0,0,0.25);
    border-bottom: 0;
/*     box-shadow: 0 -2px 2px rgba(0,0,0,0.2); */
    line-height: $wayfinder-height + 0.4em;
  }
  .associated {
    > li {
      > a {
        border-radius: 0.5em 0.5em 0 0;
        background: rgba(0,0,0,0.08);
        padding: 0.25em 0.75em 0.65em 0.4em;
        &:hover {
          background: rgba(255,255,255,0.2);
        }
      }
    }
  }
  ul.actions {
    position: fixed;
    top: $menubar-height; right: 1em;
    margin: 0; padding: 0;
    > li {
      padding: 0.1em 0;
      line-height: $wayfinder-height - 0.2em;
      > a {
        line-height: $wayfinder-height - 0.2em - 0.5em; // li padding and a padding
        padding: 0.25em 0.75em;
        border-radius: 0.4em;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          background: rgba(255,255,255,0.5);
          box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -1px -1px 1px rgba(0,0,0,0.1);
        }
        &:active {
          background: rgba(255,255,255,0.9);
          box-shadow: inset -2px -2px 2px rgba(255,255,255,1), inset 2px 2px 2px rgba(0,0,0,0.15);
        }
      }
    }
  }
  // make sure there is space between the wayfinder and the content that comes after
  & + * {
    margin-top: $menubar-height + $wayfinder-height + 1em;
  }
}
