<%
# requires ‘item’ be an object that has an errors method that works like ActiveRecord.

if item.errors.any?
  heading ||= "#{pluralize(item.errors.count, "error")} prevented this #{item.class.name} from being saved:"
  %><div class="error_messages">
<h2><%= heading %></h2>
<ul>
<%
  item.errors.messages.each do |key, message|
    %><%= tag.li("#{key} #{message.join('; ')}", id: "error-#{key}") %>
<%
  end
  %></ul>
</div>
<%
end -%>
