<%
section = wayfinder[:section]
item = wayfinder[:item]
associated = wayfinder[:associated]
actions = wayfinder[:actions]

action_name_remap = { create: 'New', update: 'Edit' }

-%>
<div id="wayfinder">
<%
# The current section or item
section_title =
  if section
    section.to_s
  elsif item
    item.class.name.underscore
  end
section_title = section_title.gsub('_', ' ').titleize
icon_class =
  if section
    section.to_s
  elsif item
    css_classerize(item)
  end
if item -%>
<h1><%= tag.span("#{section_title}:", class: "class icon #{icon_class}") %>
<span class="item"><%= item.descriptor %></span></h1>
<%
else -%>
<%= tag.h1(section_title.pluralize, class: "icon #{icon_class}") %>
<%
end

# items associated with current item
if associated -%>
<ul class="associated">
<%
  associated.each do |associate|
    if associate.instance_of? Hash
      section = associate[:section]
      descriptor = associate[:descriptor]
      link = associate[:link]
    else
      # FIXME: add a method for converting class name to css class
      section = css_classerize(associate)
      descriptor = associate.descriptor
      link = associate
    end
    %><%= tag.li(link_to(descriptor, link, class: "icon #{section}")) %>
<%
  end -%>
</ul>
<%
end

if actions -%>
<ul class="actions">
<%
  # TODO: separate actions for the item and actions for the section, then add title attrs
  actions.each do |action, link|
    action_name = action_name_remap[action] || action.capitalize
    %><%= tag.li(link_to(action_name, link, class: "icon #{action}")) %>
<%
  end -%>
</ul>
<% end -%>
</div>
